.link-service {
    font-size: 26px;
    font-weight: 700;
    color: white;
}

.jumbotron a:hover {
    text-decoration: none;
}

.jumbotron {
    background-color: white !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.jumbotron-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}