$width-body: 1170px;
$width-body-small: 90vw;
$width-body-medium: 80vw;

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    padding-top: 111px;
    padding-bottom: 51px;
    background: #F7F7F7;
}

.footer-body {
    width: $width-body;
}

.about {
    width: 100%;
    height: 239px;
}

.about-logo {
    height: 41px;
    width: 145px;
    margin-bottom: 30px;
}

.about-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #818181;
}

.footer-nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tech,
.popular,
.resources {
    width: 169px;
    height: 248px;
}

.tech-header,
.popular-header,
.resources-header {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #111111;
}

.tech-text div,
.popular-text div,
.resources-text div {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 31px;
    color: #818181;
}

.hr {
    border: 1px solid #cccccc;
    width: 42px;
    margin: 17px 0px;
}

.bottom {
    border-top: 1px solid #cdcdcd;
    margin-top: 74px;
    margin-bottom: 44px;
    padding: 40px 0px 7px 0px;

}

.social {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    margin-right: 12px;
}

.copyright {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #818181;
}

.switches {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.language-dropdown {
    width: 185px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.currency-dropdown {
    width: 140px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15px;
}

.dropdown-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #323232;
}

@media (max-width: 575.98px) {
    .footer {
        padding-top: 80px;
        height: 100%;
        padding-bottom: 0px;
    }

    .footer-body {
        width: $width-body-small;
    }

    .about {
        height: 100%;
    }

    .tech,
    .popular,
    .resources {
        margin-top: 55px;
        height: 100%;
    }

    .bottom {
        border-top: 1px solid #cdcdcd;
        margin-top: 55px;
        display: flex;
        flex-direction: column-reverse;
    }

    .switches,
    .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .social {
        margin-top: 44px;
    }

    .social-icon {
        height: 30px;
        width: 30px;
        margin-right: 6px;
    }

    .copyright {
        font-size: 12px;
    }

    .language-dropdown,
    .currency-dropdown {
        width: 140px;
        height: 40px;
        margin: 0px 5px;
    }

    .dropdown-text {
        font-size: 14px;
    }

    .fa-chevron-down {
        font-size: small;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .footer {
        padding-top: 80px;
        height: 100%;
        padding-bottom: 0px;
    }

    .footer-body {
        width: $width-body-small;
    }

    .about {
        height: 100%;
    }

    .tech,
    .popular,
    .resources {
        margin-top: 55px;
        height: 100%;
    }

    .bottom {
        border-top: 1px solid #cdcdcd;
        margin-top: 55px;
        display: flex;
        flex-direction: column-reverse;
    }

    .switches,
    .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .social {
        margin-top: 44px;
    }

    .social-icon {
        height: 30px;
        width: 30px;
        margin-right: 6px;
    }

    .copyright {
        font-size: 12px;
    }

    .language-dropdown,
    .currency-dropdown {
        width: 140px;
        height: 40px;
        margin: 0px 10px;
    }

    .dropdown-text {
        font-size: 14px;
    }

    .fa-chevron-down {
        font-size: small;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .footer {
        padding-top: 80px;
        height: 100%;
        padding-bottom: 0px;
    }

    .footer-body {
        width: $width-body-medium;
    }

    .about {
        height: 100%;
    }

    .tech,
    .popular,
    .resources {
        margin-top: 55px;
        height: 100%;
    }

    .copyright {
        font-size: 12px;
    }
        
    .language-dropdown,
    .currency-dropdown {
        width: 140px;
        height: 40px;
        margin: 0px 10px;
    }

    .dropdown-text {
        font-size: 14px;
    }

    .fa-chevron-down {
        font-size: small;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1200px) {}